.container-reg{
    margin-top: 200px;
    .lowin {
        .lowin-box {
            p {
                color: rgba(32, 160, 255, 1);
                font-weight: 700;
                margin-bottom: 20px;
                text-align: center;
            }
        .lowin-box-inner {
            box-shadow: 0 7px 25px rgba(0, 0, 0, .08);
            padding: 20px 30px 
        }
        .text-content{
            margin: 5px;
        }
        }
    }
}